/** import de polices **/

@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');


body {
  background: url(https://cdn03.nintendo-europe.com/media/images/08_content_images/games_6/nintendo_3ds_12/3ds_monsterhunterstories_1/CI_3DS_MonsterHunterStories_Town_04.jpg);
  color: rgb(0, 0, 0);
  font-family: 'Ranchers', cursive;

  /** permet de centrer les éléments dans la page **/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/** l'image fait toujours la même hauteur **/
img{
  margin: 40px;
  border: 1px solid yellow;
  padding: 10px;
  height: 40vh;
  width: auto;
}
/** les titres ne sont pas trop grands **/
h1,h2{
  max-width: 800px;
  line-height: 1.5;
}


h1{
  font-size: 30px;
}
h2{
  font-size: 20px;
}


/** boutons **/
.btn {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:#eae0c2;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.btn:active {
	position:relative;
	top:1px;
}

/**button noir**/
.btnNoir{
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:#000000;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:rgb(255, 255, 255);
	font-family:Arial;
	font-size:14px;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.btn:active {
	position:relative;
	top:1px;
}

/**button blanc**/
.btnBlanc{
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:#ffffff;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:rgb(0, 0, 0);
	font-family:Arial;
	font-size:14px;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#ffffff;
}
.btn:active {
	position:relative;
	top:1px;
}

/**button rouge**/
.btnRouge{
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:#ffffff;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:rgb(0, 0, 0);
	font-family:Arial;
	font-size:14px;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
	background:linear-gradient(to bottom, #ff0000 5%, #ff0000 100%);
	background-color:#ff0000;
}
.btn:active {
	position:relative;
	top:1px;
}

/** liste de boutons **/
.btns-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
}
.btn{
  margin: 15px;
}

.signature{
  background-color: #222;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position:absolute;
  top:0px;
  border: 5px 5px 5px 5px #000000;
  right: 20px;
  width: 150px;
  border-radius: 12px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

}

.signature a{
  font-family: Arial, Helvetica, sans-serif;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 20px;
}

/** faire bouger un peu tout ça **/
h1,
h2 {
  animation-name: fade-in;
  animation-duration: 1s;
}

/** faire clignotter le sous titre **/ 
h3 {
  animation-iteration-count: infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** une animation de très bon goût **/
.yeah{
  animation: yeah 2s ease-out;
}
@keyframes yeah{
  0%{
    transform:rotate(-600deg) scale(0) rotateY(180deg)
  }
  100%{
    transform: rotate(0deg) scale(1);
  }
}

